<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <!--<div>
      <div id="app" :title="message + ' ' + 'DKA-Dev'">
        {{ message }}

        <template v-if="status == 1">
          <h1>Свойство равно 1</h1>
          <p>Описание </p>
        </template>
        <template v-else>
          <h1>Свойство равно 2</h1>
          <p>Описание 2</p>
        </template>

        <h1 v-show="status">Заголовок с v-show</h1>

        <div class="class-default list" :class="{ active: isActive, 'btn-default': isBtn }">jjj</div>

        <div :class="[ isActive ? 'active' : 'disabled a', 'default' ]">jjj</div>

        <h1 :style="{ color: 'red', width: width + 'px'}">Текст</h1>
          
      </div>
  </div>-->

  <div id="vue">
    <!--<ul>
      <li v-for="(item, index) in list">
        index {{ index }}: {{ item }}
      </li>
    </ul>

    <ul>
      <li v-for="user in users">
        {{ user.id }}: {{ user.name }}
      </li>
    </ul>

    <table border="1" @click="nameFunction2">
      <thead>
        <th>ID</th>
        <th>Имя</th>
      </thead>
      <thbody>
        <tr v-for="user in users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
        </tr>
      </thbody>
    </table>-->

    <h3>{{ textSearch }} (длина: {{ textSearch.length }})</h3>

    <input type="text" size="50" v-model="textSearch">
    
    <button @click="getCities">Грузи</button>

    <ul>
      <li v-for="hashtag in hashtags">{{ hashtag }}</li>
    </ul>

    <ul>
      <li v-for="city in cities">{{ city.region }}: {{ city.city }}</li>
    </ul>

  </div>

  <script>
    /*var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        status: 1,
        isActive: false,
        isBtn: true,
        width: 150
      }
    })*/
    var app = new Vue({
        el: '#vue',
        data: {
          hashtags: [],
          cities: [],
          textSearch: '',
          url: {
            hashtags: 'https://dka-develop.ru/api?type=hashtag',
            cities: 'https://dka-develop.ru/api?type=city'
          }
        },
        watch: {
          textSearch: function(){
            if (this.textSearch.length > 3) {
              this.textSearch = "Меняем содержимое поля из кода";
            }
          }
        },
        created: function () {

        },
        methods: {
          getHashtags(){
            axios.get(this.url.hashtags).then((response) => {
              console.log(response.data);
              this.hashtags = response.data;
            });
          },
          getCities() {
            axios.get(this.url.cities).then((response) => {
              console.log(this);
              this.cities = response.data;
            });
          }
        }
        
        /*data: {
          list: ['один', 'два', 'три'],
          users: [
            { id: 1, name: 'Иван'},
            { id: 2, name: 'Сергей' },
          ]
        },
        methods: {
          nameFunction(){
            alert('nameFunction');
          },
          nameFunction2: function(){
            alert('nameFunction2');
          }
        }*/
      })
  </script>
</body>
</html>